<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="us.wili.qtwallpaper">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Normal-->
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
    <!-- Dangerous-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".global.QTApplication"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
            android:exported="true"
            android:theme="@style/EmptyBgTheme"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.CategoryDetailActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".activity.WallPaperDisplayActivity"
            android:theme="@style/TranslucentTheme"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".activity.FeedBackActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".activity.AboutActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <activity android:name=".activity.MyFavouritesActivity"
            android:exported="false"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- 友盟部分-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5413fc89fd98c50afa0674e9"/>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

    </application>

</manifest>
